*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-size: 16px;
    border-color: white;
}

main{
    background-image: url("./images/bg-main-mobile.png");
    background-repeat: no-repeat;
    background-size: 100% 12rem;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card-details-container{
    width: 100%;
    height: 140px;
    position: relative;
    margin-bottom: 8rem;
    max-width: 580px;
}

.back-card-details{
    background-image: url('./images/bg-card-back.png');
    background-size: cover;
    height: 149px;
    width: 273px;
    position: absolute;
    top: 15px;
    right: 25px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.back-card-details p{
    padding-right: 1.7rem;
    font-size: 16px;
}

.front-card-details{
    height: 149px;
    width: 273px;
    background-image: url('./images/bg-card-front.png');
    background-size: cover;
    position: absolute;
    top: 70%;
    left: 1rem;
    z-index: 9;
    padding: 0.9rem;
    color: hsl(270, 12%, 93%);
}

.card-logo-container img{
    height: 25px;
}

.front-card-details .details-container{
    /* margin-top: 1.2rem; */
    display: flex;
    flex-direction: column;
    justify-items: center;
    text-align: center;
}

.front-card-details .details-container p{
    /* margin-top: 1rem; */
    display: flex;
}

.front-card-details .details-container p:nth-child(1){
    justify-content: space-evenly;
    margin-top: 1.5rem;
    font-size: 20px;
}

.front-card-details .details-container p:nth-child(2){
    justify-content: space-between;
    padding: 0.5rem 0.3rem;
    margin-top: 0.5rem;
    color: hsla(270, 7%, 82%, 0.942);
    font-size: 11px;
}

.form-container{
    padding: 0rem 1rem;
    max-width: 580px;
    display: flex;
}

::placeholder{
    color: hsl(270, 3%, 87%);
    font-size: 21px;
}

form input{
    margin: 0.3rem 0.1rem;
    padding: 0.5rem 0.3rem;
    border: 2px solid hsl(270, 3%, 87%);
    border-radius: 6.7px;
    width: 100%;
    
}

form p, form>div{
    margin-top: 0.5rem;
}

#exp-date-cvc{
    display: flex;
    flex-direction: row;
    
}

#exp-date-cvc div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#exp-date-cvc div label{
    flex-basis: 100%;
}

#exp-date-cvc div span{
    flex-basis: 100%;
}

#exp-date-cvc div input{
    flex-basis: 45%;
}

#exp-date-cvc div #card-cvc{
    flex-basis: 100%;
}

form #submit-btn{
    background-color: hsl(278, 68%, 11%);
    color: hsl(270, 3%, 87%);
    border: 1px solid hsl(278, 68%, 11%);
    margin-top: 1rem;
}

.confirmation-message{
    display: flex;
    flex-direction: column;
    justify-items: center;
    /* justify-content: center; */
    text-align: center;
    padding: 1.2rem;
    width: 100%;
    max-width: 360px;
}

.confirmation-message .complete-icon-container{
    display: flex;
    justify-content: center;
}

.confirmation-message button{
    text-decoration: none;
    background-color: hsl(278, 68%, 11%);
    color: hsl(270, 3%, 87%);
    border: 1px solid hsl(278, 68%, 11%);
    padding: 0.5rem 0.5rem;
    border-radius: 6.7px;
    margin-top: 1.2rem;
    width: 100%;
}

.confirmation-message p{
    padding: 0.5rem;
    color: hsl(279, 6%, 55%);
    display: flex;
    justify-content: center;
    text-align: center;
}

.confirmation-message :nth-child(2){
    font-size: 30px;
    margin-top: 0.7rem;
    color: hsl(278, 68%, 11%);
}

.hidden{
    display: none
}

.active input:invalid{
    border-color: hsl(0, 100%, 66%);
}

input:focus{
    outline: linear-gradient(hsl(249, 99%, 64%), hsl(278, 94%, 30%));
}

.error{
    font-size: 11px;
    color: hsl(0, 100%, 66%);
    padding: 0.3rem;
}

footer{
    display: none;
}


@media screen and (min-width:1000px) {
    main{
        height: 100vh;
        /* display: flex; */
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-image: url('./images/bg-main-desktop.png');
        background-size: 35% 100%;
    }

    .card-details-container{
        height: 350px;
        display: flex;
        max-width: 720px;
        /* width: max-content; */
        margin-right: 2rem;
        justify-content: center;
        flex-direction: column;
    }

    .front-card-details{
        top: 4.5rem;
        height: max-content;
        /* width: 16rem; */
        padding-bottom: 0.2rem;
        background-size: 100% 100%;
        /* width: max-content; */
        left: 37%;
    }

    .front-card-details #card-details-number{
        margin-top: 2.5rem;
        font-size: 21px;
    }

    .front-card-details #card-holder-name, 
    .front-card-details #card-exp-date-month,
    .front-card-details #card-exp-date-year {
        font-size: 16px;
    }

    .back-card-details{
        top: 15rem;
        left: 45%;
        background-size: contain;
        /* width: max-content; */
    }

    .back-card-details #card-cvc-number{
        font-size: 18px;
    }

    .form-container{
        font-size: 18px;
        flex-basis: 100%;
        flex-direction: row;
        justify-content: flex-start;
    }

    form{
        max-width: 360px;
    }

}